:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 6rem 2rem;
  background-color: var(--color-black);
}
header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
header > img {
  transition: ease-in-out 0.2s;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  display: inline-flex;
  width: 50%;
  justify-content: start;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
.button-wrapper > li > img {
  display: inline-block;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
#blue-button,
#yellow-button,
#pink-button {
  padding: 8px 10px;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
#blue-button {
  background-color: var(--color-blue);
}
#yellow-button {
  background-color: var(--color-yellow);
}
#pink-button {
  background-color: var(--color-pink);
}
#header-logo:hover,
#blue-button:hover,
#yellow-button:hover,
#pink-button:hover,
.button-wrapper > li > img:hover {
  transform: scale(1.3);
}
#content-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  height: 40vh;
  overflow-y: scroll;
}
.content-wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 10px;
  background-color: var(--color-white);
}
.content-wrapper > img {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
