{% extends 'base.html' %}
{% block content %}
<section>
  <form action={% url 'review:index' %} method="get">
    <input id='title_order' type='submit' name='order' value="title_order">
    <input id='star_order' type='submit' name='order' value="star_order" />
    <input id='time_order' type='submit' name='order' value="time_order" />
  </form>
</section>
<ul>
  {% if reviews %}
    {%for review in reviews%}
    <li>
      <a href={% url 'review:review_detail' pk=review.id %}>{{review.title}}</a>
      <span>{{review.createYear}}</span>
      <span>{{review.genres}}</span>
      <span>{{review.starRate}}</span>
      <span>{{review.author.username}}</span>
    </li>
    {% endfor %}
  {% else %}
  <li>
    <span>질문이 없습니다.</span>
  </li>
  {% endif %}
</ul>
{% endblock %}
