{% extends 'base.html' %}
{% block content %}
<section>
  <form action={% url 'review:index' %} method="get">
    <input type='submit' name='order' value="title_order" />
    <input type='submit' name='order' value="star_order" />
    <input type='submit' name='order' value="time_order" />
  </form>
</section>
<ul>
  {%for review in reviews%}
  <li>
    <a href={% url 'review:review_detail' pk=review.id %}>{{review.title}}</a>
    <span>{{review.createYear}}</span>
    <span>{{review.genres}}</span>
    <span>{{review.starRate}}</span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
