#program-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  grid-gap: 16px;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 40px 16px 16px;
  gap: 16px;
  background-color: var(--bg-gray);
  border-radius: 8px;
}
.main-hamburger-wrapper {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: yellow;
}
.program-thumbnail {
  display: inline-block;
  width: min(75%, 250px);
  height: 160px;
  border-radius: 8px;
  background-color: white;
}
.program-description-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  gap: 10px;
}
.program-title {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 2px;
}
.program-description {
  color: #c6c6c6;
}
.program-distributor {
  display: inline-flex;
  justify-content: center;
  width: 250px;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  margin-top: 5px;
}
.program-distributor > span {
  display: inline-block;
  width: 60px;
  height: 26px;
  padding: 6px 8px;
  background-color: var(--bg-5);
  font-size: 1.4rem;
  color: black;
  border-radius: 5px;
}

.program-distributor > span:first-of-type {
  color: white;
  background-color: #2188b6;
}

@media screen and (min-width: 500px) {
  .program-distributor {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .program {
    flex-direction: row;
    padding: 16px;
    justify-content: start;
  }
  .program-thumbnail {
    width: 150px;
    height: 110px;
  }
  .program-description-wrapper {
    align-items: start;
  }
  .program-distributor {
    margin-top: 15px;
  }
}
@media screen and (min-width: 780px) {
  main {
    margin: 0 40px;
    padding: 90px 40px 50px;
  }
}
