{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
<!--정렬 form 구현-->
</section>
<ul>
  {% if idea_list %}
    {%for idea in idea_list%}
    <li>
      {% if idea.image %}
      <img src="{{idea.image.url}}"/>
      {% else %}
      <img src={% static 'idea/image/no_img.png' %}/>
      {% endif %}
      <a href={% url 'idea:detail' pk=idea.id %}>{{idea.title}}</a>
      <div class='interest-container' button-pk="{{ idea.pk }}">
        <span>-</span>
        <span>{{idea.interest}}</span>
        <span>+</span>
      </div>
      <i class="pick-btn" button-pk="{{ idea.pk }}">
        {% if idea.pick %}
            pick
        {% else %}
            Unpick
        {% endif %}
      </i>
    </li>
    {% endfor %}
  {% else %}
  <li>
    <span>아이디어가 없습니다.</span>
  </li>
  {% endif %}
</ul>
<script src="{% static 'idea/js/pick.js' %}" defer></script>
{% endblock %}