{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <form>
    <select name='sort-order' onchange="this.form.submit()">
      <option>--정렬기준--</option>
      <option value='pick'>찜하기순</option>
      <option value='name'>제목순</option>
      <option value='interest'>관심도순</option>
      <option value='id'>등록순</option>
      <option value='time'>최신순</option>
    </select>
  </form>
</section>
<div id='idea-container'>
  {% if idea_list %}
  <ul>    
      {%for idea in idea_list%}
      <li>
        {% if idea.image %}
        <img src="{{idea.image.url}}"/>
        {% else %}
        <img src={% static 'idea/image/no_img.png' %}/>
        {% endif %}
        <a href={% url 'idea:detail' pk=idea.id %}>{{idea.title}}</a>
        <div class='interest-container' button-pk="{{ idea.pk }}">
          <span>-</span>
          <span>{{idea.interest}}</span>
          <span>+</span>
        </div>
        <i class="pick-btn" button-pk="{{ idea.pk }}">
          {% if idea.pick %}
              pick
          {% else %}
              Unpick
          {% endif %}
        </i>
      </li>
      {% endfor %}
  </ul>
  <ul>
    {% if idea_list.has_previous %}
    <li>
      <a href='?page={{ idea_list.previous_page_number }}'>이전</a>
    </li>
    {% endif %}
    {% for page_num in idea_list.paginator.page_range %}
      {% if page_num == idea_list.number %}
      <li class="current_page">
        <a href='?page={{page_num}}'>{{page_num}}</a>
      </li>
      {% else %}
      <li>
        <a href='?page={{page_num}}'>{{page_num}}</a>
      </li>
      {% endif %}
    {% endfor %}
    {% if idea_list.has_next %}
    <li>
      <a href='?page={{ idea_list.next_page_number }}'>다음</a>
    </li>
    {% endif %}
  </ul>
  {% else %}
  <ul>
    <li>
      <span>아이디어가 없습니다.</span>
    </li>
  </ul>
  {% endif %}
</div>
<script src="{% static 'idea/js/pick.js' %}" defer></script>
{% endblock %}