{% extends 'base.html' %}
{% block content %}
<section>
    <h1></h1>
    <a href={% url 'post:modify' pk=post.id %} method='post'>수정</a>
    <form action="{% url 'post:delete' pk=post.id %}" method="post">
        {% csrf_token %}
        <button>삭제</button>
      </form>
</section>
<section>
    <ul>
        <li><span>{{ post.title }}</span></li>
        <li><span>{{ post.created_date }}</span></li>
        <li><span>{{ post.like }}</span></li>
    </ul>
</section>
<section>
    <span>{{post.content}}</span>
</section>
<section>
    <div>
        <textarea id='comment-content'></textarea>
        <button id='comment-button' onClick='onClickComment({{post.id}})'>댓글 작성</button>
    </div>
</section>
<section>
    <ul id='comment-container'>
    {% for comment in comment_list %}
    <li id='comment-{{comment.id}}'>
        <span>{{comment.content}}</span>
        <button class='comment-delete-button' onClick='onClickDelete({{comment.id}})'>댓글 삭제</button>
    </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}