main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 90px 16px 50px;
}
#title-wrapper {
  display: inline-flex;
  width: 100%;
  height: 40px;
  position: relative;
  justify-content: center;
  align-items: center;
}

#main-title {
  font-size: 2.2rem;
  cursor: pointer;
}

#title-right-wrapper {
  display: inline-flex;
  position: absolute;
  height: 40px;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: end;
  gap: 5px;
  cursor: pointer;
}

#title-right-wrapper > i {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../../images/down-chevron.png");
  background-size: cover;
  filter: invert(100%);
  transform: rotate(-90deg);
}
#program-wrapper,
#interview-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  grid-gap: 16px;
}
.program:hover,
.interview:hover {
  top: -2px;
  transition: 0.3s;
}

.program,
.interview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px 16px 16px;
  gap: 16px;
  background-color: var(--bg-gray);
  border-radius: 8px;
}
.main-hamburger-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  justify-content: space-around;
}
.main-hamburger {
  width: 100%;
  height: 2px;
  background-color: var(--bg-5);
  transition: 0.3s;
}

.interview:hover .main-hamburger:first-child {
  width: 50%;
}
.interview:hover .main-hamburger:last-child {
  width: 50%;
  margin-left: auto;
}
